<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>jewelry_sales</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <!-- filter -->
  <filter>
		<filter-name>UrlRewriteFilter</filter-name>
		<filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>UrlRewriteFilter</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
	</filter-mapping>
   <!-- public -->
  <servlet>
  	<servlet-name>PublicIndexController</servlet-name>
  	<servlet-class>controllers.publics.PublicIndexController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>PublicIndexController</servlet-name>
  	<url-pattern>/index.html</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>PublicProductsController</servlet-name>
  	<servlet-class>controllers.publics.PublicProductsController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>PublicProductsController</servlet-name>
  	<url-pattern>/product</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>PublicProductDetailsController</servlet-name>
  	<servlet-class>controllers.publics.PublicProductDetailsController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>PublicProductDetailsController</servlet-name>
  	<url-pattern>/product_details</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>PublicProductThreeController</servlet-name>
  	<servlet-class>controllers.publics.PublicProductThreeController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>PublicProductThreeController</servlet-name>
  	<url-pattern>/product_three_col</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>PublicProductFourController</servlet-name>
  	<servlet-class>controllers.publics.PublicProductFourController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>PublicProductFourController</servlet-name>
  	<url-pattern>/product_four_col</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>PublicContactController</servlet-name>
  	<servlet-class>controllers.publics.PublicContactController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>PublicContactController</servlet-name>
  	<url-pattern>/contact</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>PublicCompairController</servlet-name>
  	<servlet-class>controllers.publics.PublicCompairController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>PublicCompairController</servlet-name>
  	<url-pattern>/compair</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>PublicCartController</servlet-name>
  	<servlet-class>controllers.publics.PublicCartController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>PublicCartController</servlet-name>
  	<url-pattern>/cart</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>PublicAboutUsController</servlet-name>
  	<servlet-class>controllers.publics.PublicAboutUsController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>PublicAboutUsController</servlet-name>
  	<url-pattern>/about_us</url-pattern>
  </servlet-mapping>

  <servlet>
  	<servlet-name>PublicForgetPassController</servlet-name>
  	<servlet-class>controllers.publics.PublicForgetPassController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>PublicForgetPassController</servlet-name>
  	<url-pattern>/forget_pass</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>PublicGridViewController</servlet-name>
  	<servlet-class>controllers.publics.PublicGridViewController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>PublicGridViewController</servlet-name>
  	<url-pattern>/grid_view</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>PublicListViewController</servlet-name>
  	<servlet-class>controllers.publics.PublicListViewController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>PublicListViewController</servlet-name>
  	<url-pattern>/list_view</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>PublicRegisterController</servlet-name>
  	<servlet-class>controllers.publics.PublicRegisterController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>PublicRegisterController</servlet-name>
  	<url-pattern>/register_index</url-pattern>
  </servlet-mapping>
  
  <servlet>
		<servlet-name>PublicCommentController</servlet-name>
		<servlet-class>controllers.publics.PublicCommentController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PublicCommentController</servlet-name>
		<url-pattern>/comment</url-pattern>
	</servlet-mapping>
	
  <servlet>
		<servlet-name>PublicDelCartController</servlet-name>
		<servlet-class>controllers.publics.PublicDelCartController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PublicDelCartController</servlet-name>
		<url-pattern>/delcart</url-pattern>
	</servlet-mapping>
	
  <servlet>
		<servlet-name>PublicCheckOutController</servlet-name>
		<servlet-class>controllers.publics.PublicCheckOutController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PublicCheckOutController</servlet-name>
		<url-pattern>/checkout</url-pattern>
	</servlet-mapping>
  <servlet>
		<servlet-name>PageNotFound</servlet-name>
		<servlet-class>controllers.publics.PageNotFound</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PageNotFound</servlet-name>
		<url-pattern>/404</url-pattern>
	</servlet-mapping>
  <!-- admin -->
  
  <servlet>
  	<servlet-name>AdminIndexController</servlet-name>
  	<servlet-class>controllers.admins.AdminIndexController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>AdminIndexController</servlet-name>
  	<url-pattern>/admin/index</url-pattern>
  </servlet-mapping>
  <!-- admin cat -->
  
  <servlet>
		<servlet-name>AdminIndexCatController</servlet-name>
		<servlet-class>controllers.admins.cat.AdminIndexCatController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminIndexCatController</servlet-name>
		<url-pattern>/admin/cat/index</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AdminAddCatController</servlet-name>
		<servlet-class>controllers.admins.cat.AdminAddCatController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminAddCatController</servlet-name>
		<url-pattern>/admin/cat/add</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AdminDelCatController</servlet-name>
		<servlet-class>controllers.admins.cat.AdminDelCatController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminDelCatController</servlet-name>
		<url-pattern>/admin/cat/del</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AdminEditCatController</servlet-name>
		<servlet-class>controllers.admins.cat.AdminEditCatController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminEditCatController</servlet-name>
		<url-pattern>/admin/cat/edit</url-pattern>
	</servlet-mapping>
	<!-- admin jewelry -->
	
	<servlet>
		<servlet-name>AdminIndexJewelryController</servlet-name>
		<servlet-class>controllers.admins.jewelry.AdminIndexJewelryController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminIndexJewelryController</servlet-name>
		<url-pattern>/admin/jewelry</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AdminAddJewelryController</servlet-name>
		<servlet-class>controllers.admins.jewelry.AdminAddJewelryController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminAddJewelryController</servlet-name>
		<url-pattern>/admin/jewelry/add</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AdminEditJewelryController</servlet-name>
		<servlet-class>controllers.admins.jewelry.AdminEditJewelryController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminEditJewelryController</servlet-name>
		<url-pattern>/admin/jewelry/edit</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AdminDelJewelryController</servlet-name>
		<servlet-class>controllers.admins.jewelry.AdminDelJewelryController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminDelJewelryController</servlet-name>
		<url-pattern>/admin/jewelry/del</url-pattern>
	</servlet-mapping>
	
	<!-- admin user -->
	<servlet>
		<servlet-name>AdminIndexUserController</servlet-name>
		<servlet-class>controllers.admins.user.AdminIndexUserController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminIndexUserController</servlet-name>
		<url-pattern>/admin/user</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AdminAddUserController</servlet-name>
		<servlet-class>controllers.admins.user.AdminAddUserController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminAddUserController</servlet-name>
		<url-pattern>/admin/user/add</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AdminEditUserController</servlet-name>
		<servlet-class>controllers.admins.user.AdminEditUserController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminEditUserController</servlet-name>
		<url-pattern>/admin/user/edit</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AdminDelUserController</servlet-name>
		<servlet-class>controllers.admins.user.AdminDelUserController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminDelUserController</servlet-name>
		<url-pattern>/admin/user/del</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AdminIndexContactController</servlet-name>
		<servlet-class>controllers.admins.contact.AdminIndexContactController</servlet-class>
	</servlet>
  	<servlet-mapping>
		<servlet-name>AdminIndexContactController</servlet-name>
		<url-pattern>/admin/contact</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AdminDelContactController</servlet-name>
		<servlet-class>controllers.admins.contact.AdminDelContactController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminDelContactController</servlet-name>
		<url-pattern>/admin/contact/del</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AdminIndexCommentController</servlet-name>
		<servlet-class>controllers.admins.comment.AdminIndexCommentController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminIndexCommentController</servlet-name>
		<url-pattern>/admin/comment</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AdminDelCommentController</servlet-name>
		<servlet-class>controllers.admins.comment.AdminDelCommentController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminDelCommentController</servlet-name>
		<url-pattern>/admin/comment/del</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AdminIndexOrderController</servlet-name>
		<servlet-class>controllers.admins.order.AdminIndexOrderController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminIndexOrderController</servlet-name>
		<url-pattern>/admin/order/index</url-pattern>
	</servlet-mapping>
  <!-- login/logout -->
  <servlet>
		<servlet-name>LoginController</servlet-name>
		<servlet-class>controllers.auth.LoginController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginController</servlet-name>
		<url-pattern>/auth/login</url-pattern>
	</servlet-mapping>
	
  <servlet>
		<servlet-name>LoginPublicController</servlet-name>
		<servlet-class>controllers.auth.LoginPublicController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginPublicController</servlet-name>
		<url-pattern>/auth/login_index</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>LogoutController</servlet-name>
		<servlet-class>controllers.auth.LogoutController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LogoutController</servlet-name>
		<url-pattern>/auth/logout</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>LogoutPublicController</servlet-name>
		<servlet-class>controllers.auth.LogoutPublicController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LogoutPublicController</servlet-name>
		<url-pattern>/auth/logout_index</url-pattern>
	</servlet-mapping>
	
	
	
	
</web-app>